/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #151515;
   --cor-da-fonte: #F7F7F7;
   --cor-da-fonte-sub: #d2d2d2;
   --cor-primary: #5FAC8B;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;

    display: flex;
    flex-direction: column;
}

body, html {
    width: 100%;
    max-width: 100%;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

button {
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

header.header {
    height: 88px;

    padding: 0px 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 100;
}

.header__logo{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-da-fonte);
}

.header__socials {
    padding: 0px 12px;
}

.header__socials_buttons {
    background-color: transparent;
    border: none;

    padding: 0.5rem;
}

.header__socials_button_images {
    width: 16px;
    height: 16px;
}

/*Sessão Title*/

section.hero {
    display: flex;
    align-items: center;
    gap: 32px;

    padding: 48px 120px;
}

.hero__left {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    text-wrap: wrap;

    z-index: 50;
}

.hero__left_conteudo__title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: var(--cor-da-fonte);
    margin: 0;
    padding: 0;
}

.hero__left_conteudo__subtitle {
    width: 70%;
    line-height: 20px;
    color: var(--cor-da-fonte-sub);
}

.hero__left_conteudo__title_nome {
    position: relative;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: var(--cor-da-fonte);
}

.hero__left_conteudo__title_nome::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    background: var(--cor-primary);
    z-index: -1;
}

.hero__right {
    position: absolute;
    top: 0;
    right: 120px;
    z-index: 40;
}

.hero__right_img {
    width: 360px;
}

.hero__left_conteudo__button {
    position: relative;
    width: fit-content;
    padding: 1rem;
    background-color: transparent;
    color: var(--cor-da-fonte);
    border: 1px solid var(--cor-primary);
    border-radius: 8px;
}

/*Sessão About*/

section.about{

}

/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 768px) {

/* Menu */

header.header {
    height: 54px;
    padding: 16px 32px;
}

/*title*/

section.hero {
    display: flex;
    align-items: center;
    gap: 32px;

    padding: 16px 32px;
}

.hero__right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 40;
}

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (max-width: 480px) {

/*Menu*/

header.header {
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/*Titulo*/

section.hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;

    padding: 16px 16px;
}

.hero__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__left_conteudo__title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: var(--cor-da-fonte);
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.hero__left_conteudo__title_nome {
    position: relative;
    font-size: 38px;
    width: 100%;
}

.hero__left_conteudo__subtitle {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.hero__right {
    position: relative;
    display: flex;
}

.hero__right_img {
    width: 200px;
}

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
